.o{
    color: red;
}

.header{

    display: flex;
    justify-content: center;
    background-color: red;
    /* flex-direction: row-reverse; */
    
}

.header-content{

    padding: 20px;
    font-size: 30px;
    
}
.realnews{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
     padding: 20px;
    /* margin: 20px;
    border: aquamarine;
    width: 600px;
    height: 400px; */ 
    background-color: lemonchiffon;

}

.realnews img {
    width: 600px;
    height: 400px; 
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: seagreen;
    

}

img:hover{
 box-shadow: 0px 10px 50px rgba(37,50,233,0.6) ;
}

.inside-flex{

    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
}

.news_about{

    flex-wrap: wrap;
    font-size: 20px;
}

p{

    width: 600px;
    /* height: 600px; */
}

.discription-of-news{

height: 58px;
}
/* .realnews-content1{
    background-color: aquamarine;

    /* background-size: cover;
    padding: 100px; */
    /* padding: 20px;
    margin: 20px;
    border: aquamarine;
    width: 600px;
    height: 400px; */
}
/* .realnews-content2{

    /* background-size: cover;
    padding: 100px;
    width: 10px;
    height: 10px; */
    /* background-color: seagreen; */
    /* padding: 20px;
    margin: 20px;
    border: red;
    width: 600px;
    height: 400px; */ */
}


/* 
.realnews-content2 img {
    width: 600px;
    height: 400px;

} */

